/* history style */
/* body {
    background:#fff;
    margin:0;
    padding:0;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
} */
.clear { zoom:1; }
.clear:after { content:''; display:block; clear:both; }

.dev-history{
    position:relative;
	margin-bottom:80px;
}
.dev-bg-img {
    position: absolute;
    background: transparent url(../imgs/about/history/development.png) ;
    width:100%;
    height:480px;
    margin:0px auto;
    opacity: 0.3;
}

.dev-desc{width: 960px;height:480px;margin: 0 auto;overflow: hidden;position: relative;z-index: 2;
    color: #000;
    letter-spacing: 2px;
 }


.item .title{
    font-size: 30px;
    font-weight: bold;
    position: relative;
    top: 100px;

}
.item .content{
    position: relative;
    font-weight: bold;
    top: 140px;
    font-size: 20px;
    line-height: 40px;
}

.dev-desc .items{position:absolute;left:0;top:0;height:480px;}
.dev-desc .item{width:960px;height:480px;float:left;}
.dev-desc .item  p{width:860px;margin-left:0px;}

.dev-line{
    width: 100%; height: 50px; background: #F6F6F6;
}
.dev-line .tab{
    width: 960px;
    margin:0 auto;
}

.tab {
    position:relative;
}



.dev-line .tab a {
    float:left;
    position:relative;
}

.dev-line .tab a {
    -moz-transition:0.5s;
    -o-transition:0.5s;
    -webkit-transition:0.5s;
    background-color:#F6F6F6;
    color:#000;
    display:block;
    font-size:24px;
    line-height:50px;
    width: 130px;
    padding:0px 15px;
    text-decoration:none;
    transition:0.5s;
    text-align: center;
}

.dev-line .tab a:hover {background:#EB8C88; color:#000;}
.dev-line .tab a.active{background:#EB8C88; color:#000;}



