@charset "utf-8";

@font-face {
	font-family: mvboli;
	src: url('../fonts/mvboli.ttf'); 
}

@font-face {
	font-family: chinese_custom;
	src: url('../fonts/chinese_custom1.ttf'); 
}

@font-face {
	font-family: chinese_custom_motto;
	src: url('../fonts/chinese_custom_motto.fon');
}

/* reset */
body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select { margin:0; padding:0; }
em { font-style:normal; }
li { list-style:none; }
a { text-decoration:none; }
img { border:none; vertical-align:top; max-width: 100%; max-height: 100%;}
table { border-collapse:collapse; }
input,textarea { outline:none; }
textarea { resize:none; overflow:auto; }

body { font-family: chinese_custom,  微软雅黑; font-size:12px;}
/* end reset */

/* public */
.clear { zoom:1; }
.clear:after { content:''; display:block; clear:both; }
.fl { float:left; }
.fr { float:right; }

}
.triangle_up, .triangle_down_red, .triangle_down_gray { position:absolute; width:0; height:0; overflow:hidden; border-left:4px solid transparent; border-right:4px solid transparent; }
.triangle_up { border-bottom:4px solid #ca0309; }
.triangle_down_red { border-top:4px solid #ca0309; }
.triangle_down_gray { border-top:4px solid #c4bdbd; }
h2{font-size: 20px;color: #E22319; }
/* end public */

/* layout */
#wrap{
	width: 100%;
	background: #F6F6F6;
	height: 115px;
	border: none;
	box-shadow:1px 1px 1px rgba(176,176,176,0.25); 
	margin-bottom: 2px;
}
#header .logo{
	display: block;
	height: 75px;width:465px;
	margin:20px 0; 
}

#wrap_nav{
	width: 100%;
	height: 45px;
	background: #FFF;
	border-bottom: 1px solid #A8A8A8;
	box-shadow:4px 4px 5px rgba(0,0,0,0.3); 
	margin-bottom: 55px;
	position: relative;
	z-index: 10000;
	letter-spacing: 1px;
}

/*end layout*/

/*start header*/
#header, #nav_bar, .content, .coop-title, .cooper{ width:960px; margin:0 auto;}
.content{min-height: 950px;}
#header { height:100px; border-radius:0 0 6px 6px;}
#header .logo{float: left;}

#header .search-area{
	float:right;
	position: relative;
	height: 28px;
	width: 160px;
	top:50%;
	right: 28px;
}
#header .search{
	display:inline-block; margin-top: 0px;padding: 3px 0 3px 8px;
	width: 152px;
	font-size: 14px;
	border:1px solid #ccc;border-radius: 3px;box-shadow:-1px 1px 0px #ccc inset;color: #454545;
 }
 #header .ipt_photo{

	 position: absolute;
	 cursor: pointer;
	 right: 2px;
	 top: 5px;
	 z-index: 9;

}

/*end header*/


/*nav start*/
.nav { height:50px; position:relative;}
.nav,.nav ul {
	list-style:none;
	margin:0;
	padding:0;
}

#nav_bar .nav {
	position:relative;
	width: 830px;
	float: left;
}

.nav ul {
	height:0;
	left:0;
	overflow:hidden;
	position:absolute;
	top:40px;

}

.nav li {
	float:left;
	position:relative;
}

.nav li a {
	-moz-transition:0.5s;
	-o-transition:0.5s;
	-webkit-transition:0.5s;
	background-color:#FFF;
	border:none;
	color: #808080;
	display:block;
	font-size:18px;
	line-height:35px;
	padding:5px 32px;
	text-decoration:none;
	transition:0.5s;
}

#nav_bar .share{
	position: relative;
	top: 5px;
	float: right;
	height:36px;
	width: 120px;
}
#nav_bar .share a{
	float: left;
	display: block;
	margin: auto 0;
	width:36px; height: 32px;
	background: url(../imgs/icons/share.png) no-repeat;
}

#nav_bar .share  .icon1{background-position: 0 0; }
#nav_bar .share .icon2{background-position:-50px 0; }



.nav li:hover > a {
	background:#F7F7F7;
	border-color:#F7F7F7;
	border-bottom: 2px solid #666; 
	font-weight: bold;
	color:#000;

}

.nav .subs li:hover  a{
	border: none;
	font-weight: normal;
}


.nav li:hover ul.subs {
	height:auto;
	width:200px;
}

.nav ul li {
	-moz-transition:0.5s;
	-o-transition:0.5s;
	-webkit-transition:0.5s;
	opacity:0;
	transition:0.5s;
	width:100%;
}

.nav li ul li {
	-moz-transition-delay:0s;
	-o-transition-delay:0s;
	-webkit-transition-delay:0s;
	transition-delay:0s;
}

.nav li:hover ul li {
	opacity:1;
	-moz-transition-delay:0.2s;
	-o-transition-delay:0.2s;
	-webkit-transition-delay:0.2s;
	transition-delay:0.2s;
	z-index: 10;

}

.nav ul li a {
	background:#F7F7F7;
	border-color:#6E67A6;
	/*color:#fff;*/
	line-height:1px;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	-webkit-transition:0.5s;
	transition:0.5s;
}

.nav li:hover ul li a {
	line-height:35px;
}

.nav ul li a:hover {
	/*   background:#FD521E;*/
	background: #e2231a;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 95%, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
	background-image: -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
	background-image: -o-linear-gradient(-90deg,rgba(255,255,255,0.5),rgba(255,255,25,0));
}

.nav .trangle_down{
	height: 0px;
	width: 0px;
	border-top: 6px solid gray;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	position: relative;
	top:14px;
	margin-left: 5px;
}

/*end nav*/


/*start slide*/
#slide{
	width: 100%;
	height:390px;
	background: red;
	margin-bottom: 40px;
}

.flexslider {
	margin: 0px auto 20px;
	position: relative;
	width: 100%;
	height: 482px;
	overflow: hidden;
	zoom: 1;
}

.flexslider .slides li {
	width: 100%;
	height: 100%;
}

.banner-img{
	width: 1920px;
	height: 482px;
	min-width: 1600px;
	object-fit: cover;
}

.flex-direction-nav a {
	width: 70px;
	height: 70px;
	line-height: 99em;
	overflow: hidden;
	margin: -35px 0 0;
	display: block;
	background: url(../imgs/icons/ad_ctr.png) no-repeat;
	position: absolute;
	top: 50%;
	z-index: 10;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
    -webkit-transition: all .3s ease;
    border-radius: 35px;
}
    
.flex-direction-nav .flex-next {
    background-position: 0 -70px;
    right: 0;
}

.flex-direction-nav .flex-prev {
    left: 0;
}

.flexslider:hover .flex-next {
    opacity: 0.8;
    filter: alpha(opacity=25);
}

.flexslider:hover .flex-prev {
    opacity: 0.8;
    filter: alpha(opacity=25);
}

.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
    opacity: 1;
    filter: alpha(opacity=50);
}

.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
}

.flex-control-nav li {
    margin: 0 2px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.flex-control-paging li a {
    background: url(../imgs/icons/dot.png) no-repeat 0 -16px;
    display: block;
    height: 16px;
    overflow: hidden;
    text-indent: -99em;
    width: 16px;
    cursor: pointer;
}

.flex-control-paging li a.flex-active,
.flex-control-paging li.active a {
    background-position: 0 0;
}

.flexslider .slides a img {
    width: 100%;
    height: 482px;
    display: block;
}

/*end slide*/

/*wrapper text on background*/

.wrapper-text-div{
	position: absolute;
	width: 100%;
	background-color: #000;
	opacity: 0.50;
	bottom: 0px;
}

.wrapper-text-div p{
	margin-top: 15px; 
	line-height: 20px; 
	font-size: 14px; 
	margin-right: 20px; 
	letter-spacing: 1px;
	color: #FFF;	
}

.wrapper-text-div .text-on-img{
	width: 960px;
	margin: auto;
}



/*wrapper text on background*/

/* text on banner image */
/* .text-on-img{
	width: 960px;
	position: relative;
	top: 50px; 
}*/

.wrapper-text-on-img{
	position: absolute;
	width: 100%;
}

.wrapper-text-on-img .text-on-img{
	width: 960px;
	margin: 0 auto;
}

#general-text-on-img{
	top: 50px;	
}

#jd-text-on-img{
	top: 150px;	
}
.img-on-img{
	width: 960px;
	margin: auto;
}



.text-on-img p{
	margin-top: 15px;
	line-height: 20px;
	font-size: 16px;
	margin-right: 20px;
	letter-spacing: 1px;
}

.text-on-img .fl{
	float: left;
	margin-left: 5px;
}

.text-on-img .fr{
	float: right;
	margin-right: 5px;
}

.text-on-img .num p{
	font-size: 22px;
	color:#e2231a;
	text-align: right;
}
/* text on banner image */

/*start main*/
.main, .also-like-title, .also-like-content{ width:695px; }
.side { width:200px; height: 500px;}
.main_wrap{width: 695px;height: 175px;padding: 20px 0 24px 0; border-bottom: 1px solid #ccc;}
.main_wrap:last-child{border:none;}
.section{
    width: 220px;
    height: 175px;
    margin-right: 20px;
    position: relative;
}
.section span{
    position: absolute;
    display: inline-block;
    width: 34px;height: 16px;
    background-color:rgba(211,191,169,0.6);
    color: #FFF;
    font-size: 14px;
    z-index: 2;
    padding: 6px 6px;
}

.section img{
    width: 220px;
    height: 175px;
}

.description{
    width: 455px;
    height: 175px;
    display: table;
}

.description a{
	color: #000;
}
.description h3{
    font-size: 18px;
    letter-spacing: 1px;
	
}
.description h3 a {
	color:#000;
}
.description p{
    margin-top: 15px;
    line-height: 20px;
    font-size: 13px;
    margin-right: 20px;
}
.des-center{
    display: table-cell;
    vertical-align: middle;
}
/*end main*/

/* start article */
.article{
	width: 100%;
	display: table;
	background-color: #eeeeee;
	padding: 10px;	
}

.article-title{
	font-size: 30px;
	letter-spacing: 1px;
	margin-left: 10px;
}

.article-title .motto {
	font-size: 18px;
	font-weight: bold;
	text-align: right;
	margin-left: 80px;
	font-family: chinese_custom_motto;
}

.article h3{
	font-size: 18px;
	letter-spacing: 1px;
}

.article .title{
	font-size: 30px;
	letter-spacing: 1px;
}

.article .part{
	font-size: 18px;
	color:#e2231a;
	text-align: center;
}

.article .image{
	margin-right: 20px;
	margin-top: 15px;
	text-align: center;
}

.article .intern-image{
	margin-right: 20px;
	margin-top: 15px;
	margin-bottom: 10px;
	text-align: left;
}

.article .intern-figure{
	margin-left: 50px;
	width: 250px;
	height: auto;
	object-fit: cover;
}

.article .product-figure{
	margin-left: 50px;
	margin-bottom: 15px;
	width: 600px;
	height: auto;
	object-fit: cover;
}

.article a{
	color: #0287d7;
	font-style:italic;	
}

.article .tl{
	text-align: left;
}

.article .image-title{
	font-size: 14px;
	text-align: center;	
}

.article p{
	margin-top: 15px;
	line-height: 20px;
	font-size: 14px;
	margin-right: 10px;
	letter-spacing: 1px;
}

.article .notation {
	font-style: italic;
	font-size: 10px;
}

.article ol>li{
	clear: both;
	list-style-position: inside;
	list-style-type: decimal;
}

.article ul>li{
	clear: both;
	list-style-position: inside;
	list-style-type: disc;
}
 
.article ol li{
	padding-left: 0em;
	text-indent: -0em;
	margin-top: 10px;
	line-height: 30px;
	font-size: 14px;
	margin-right: 20px;
	letter-spacing: 1px;
}

.article .bold{
	font-weight: bold;
}

.article .line-bold{
	border-left: 2px  solid #e2231a;
	margin-left: 2px;
	padding-left: 10px;
	font-weight: bold;
}


.article .subtitle-product {
	width: 90%; 
	text-align: center; 
	border-bottom: 1px solid #ddd; 
	line-height: 0.1em;
	margin: 20px 10px 20px 10px;
	font-weight: bold;
}

.article .subtitle-product span {
	background:#eeeeee; 
	padding-left: 10px;
	padding-right: 10px;
}

.article .intern-text{
	margin-left: 2em;
	margin-top: 0px;
}

/* end article */

/*start side*/

.side-section{
    width: 198px;
    height: 143px;
    border: 1px solid #F3F3F3;
    margin: 15px 0 0 0;
}

.side-section #sticky {
    padding: 0.5ex;
}

.side-section img{
    display: block;
    width: 198px;
    height: 115px;
}
.side-section span{
    display: inline-block;
    padding:0 3px;
    height: 28px;
    width: 195px;
    line-height: 28px;
    font-size: 13px;
    white-space:nowrap;overflow:hidden;text-overflow: ellipsis;
}

.about-us{
    height: 270px;width: 200px;
    margin:20px auto;
    background:#F6F6F6; 
}
.about-us .inner{
    position: relative;
    height:25px;
    width: 70px;
    margin: 0px auto;
    background:#E22319;
    line-height: 25px;
    text-align: center;
    color: #FFF;
    font-size: 14px;
    z-index: 2;  
}
.about-us .logo{
    display: block;
    margin: 5px auto;
    height: 55px;width: 55px;
}

.about-us .logo-text{
    text-align: center;
    margin: 4px auto;
    font-size: 14px;
    font-weight: bold;
}
.about-us .red-text{
    
    color:#E22319; 
}
.about-us .we-chat-text{
    text-align: center;
    font-size: 14px;
    margin:10px 0px;
    letter-spacing: 1px;
    
}
.contact-us img{
    position: relative;
    display: block;
    width: 56px;height: 56px;
    float: left;
    left: 5px;top: 10px;
}
.contact-us .des-text{
    width: 130px;
    float: right;

}
.contact-us .text-small{
    font-size: 10px;
}

/*end side*/

/* start also like */
.also-like-title{
	margin-top: 80px;
	margin-bottom: 15px;
	font-size: 18px;
	color: #e2231a;
	text-align: left;
	letter-spacing: 1.5px;
}

.also-like-title .content{
	width: 33%;
	display: inline;
}

.also-like-wrapper {
    display: table;
    table-layout: fixed;

    width:100%;
    height:250px;
}
.also-like-wrapper div {
    display: table-cell;
    height:250px;
}

.also-like-wrapper img {
	width : 100%;
	height: 105px;
}

.also-like-wrapper p{
	color: #000;
	margin-top: 15px;
	line-height: 20px;
	font-size: 14px;
	margin-right: 20px;
	letter-spacing: 1px;
}

.also-like-wrapper .time{
	color: #c0c5ce;
}
/* end also like */

/* read more */
.read-more-wrap{
	height: auto;	
}

.read-more{
	padding: 3px; 
	position: relative; 
	float: right; 
	background-color: #CCC; 
	vertical-align: middle;
}

.read-more span{
	color: #FFF;
	vertical-align: middle;
}

.read-more img{
	width: 30px;
	height: 15px;
}
/* read more */

/* back to top */
.back-to-top{
	position: fixed; 
	bottom: 50px;
	right: 50px;
}

.back-to-top a{
	display: none;	
}

.back-to-top img{
	width: 40px;
	height: auto; 	
}

/* back to top */

/*start cooperation*/
.coop_wapper{
    width: 100%;
    height: 25px;
    border-bottom: 1px solid #B0B0B0;
}
.coop-title{
    color: #E22319;
    margin-top: 25px;
}
.company{
    margin:60px 0 80px 20px;
    height: 136px;
    width: 935px;
}
.company li{
    float: left;  
}
.company li a{
    display:inline-block;
    height: 70px; background: url(../imgs/icons/cooperation.png)  no-repeat;   
}


.company .cat-1 a{width: 132px;background-position:0 0;}
.company .cat-2 a{width: 110px;background-position: -132px 0px;}
.company .cat-3 a{width: 106px;background-position: -242px 0px;}
.company .cat-4 a{width: 105px;background-position: -348px 0px;}
.company .cat-5 a{width: 100px;background-position: -453px 0px;}
.company .cat-6 a{width: 100px;background-position: -553px 0px;}
.company .cat-7 a{width: 135px;background-position: -653px 0px;}
.company .cat-8 a{width: 132px;background-position: -787px 0px;}
.company .cat-9 a{width: 150px;background-position: 0 -75px;}
.company .cat-10 a{width: 120px;background-position: -150px -75px;}
.company .cat-11 a{width: 160px;background-position: -270px -75px;}
.company .cat-12 a{width: 150px;background-position: -430px -75px;}
.company .cat-13 a{width: 170px;background-position: -580px -75px;}
.company .cat-14 a{width: 150px;background-position: -750px -75px;}


/*end cooperation*/

/*start footer*/
.footer{
    width: 100%;
    background:#F6F6F6; 
    border-top: 1px solid #B0B0B0;
    box-shadow: 2px -4px 10px #B0B0B0;
    color: #E22319;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.footer-wrap{ 
    width:960px;
    height: 100px;
    margin:0 auto;
    display: table;
    text-align: center;
}



.lux{
    width: 44%;
    height: 100px;
    margin: 0 auto;
    display: table-cell;
}

.lux-in{
    font-size: 21px;
    font-style: italic;
    line-height: 100px;
    text-align: left;
    font-family: mvboli;
}
.two-dimension-code{
    width: 18%;
    height: 100px;
    margin: 0 auto;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.two-dimension-code img{
    vertical-align: middle;
}

.contact{
   width: 38%;
   height: 100px;
   display: table-cell;
   vertical-align: middle;
}

.contact p{
    line-height: 20px;
    text-align: left;
}

/*end footer*/
table {
	background-color: transparent;
	border-spacing: 0;
    border-collapse: collapse;
    display: table;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f5f5f5;
}

.table {
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	max-width: 100%;
	text-align: center;
}

/* start table */
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
	padding: 8px;
    vertical-align: middle;
    border-top: 1px solid #ddd;
    text-align: center;
    margin-top: 15px;
	line-height: 20px;
	font-size: 14px;
	margin-right: 10px;
	letter-spacing: 1px;
}
/* end table */





